<h3> THIS MUST BE THE CAMPER</h3>

<main>
    <h4> <%= @camper.name%> </h4>
    <p><%= "This camper is #{@camper.age} years old" %></p>
    <% @activities.each do |activity| %>
        <li> <%= activity.name %> </li> 
    <% end %> </br>

 
    <%= link_to "edit activity", edit_camper_path(@activities)%>

  